* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* scrollbar-gutter: stable; */
  /* Works on Firefox */
  scrollbar-width: thin;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

/* footer {
  box-shadow: 0 50vh 0 50vh #000;
} */
